* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.photo {
  border: 1px solid #3c0d0d;
  border-radius: 9px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.app {
  text-align: center;
}

